@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #D8D9DE;
}

ol {
    list-style-position: inside;
}

ul {
    list-style: none;
}

.header {
    width: 75%;
    margin-inline: auto;
    margin-top: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60%;
    background: #344A5F;
    border-radius: 15px 15px 0 0;
}

.header__right {
    color: #D8D9DE;
}

.header__right a {
    color: #D8D9DE;
    font-size: 18px;
}

.header__class {
    color: #D8D9DE;
    font-size: 30px;
}

.header__bottom {
    background: #f4f5f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    border-radius: 0 0 15px 15px;
}

.header__nav {
    padding-left: 20px;
}

.header__list {
    display: flex;
    list-style: none;
    gap: 32px;
}

.header__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #2b2b3a; 
    transition: color 0.3s;
}

.header__link.active {
    color: #344A5F;
    border-bottom: 2px solid #344A5F;
    padding-bottom: 5.5px;
}

.header__link:hover {
    color: #52697e;
}

.main__block {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    margin-top: 20px;
} 

.main__estimation {
    background: #f4f5f6;
    border-radius: 15px;
    width: 25%;
    padding: 20px;
    border: 1px solid #d1d1d1;
    max-height: 158px;
}

.main__estimation-title {
    color: #344A5F;
    font-size: 20px;
    text-align: center;
}

.main__lessons {
    margin: 10px 0;
    border: #F3B54A 1px solid;
    border-radius: 10px;
}

.main__list {
    color: #344A5F;
    list-style: none;
    display: flex;
}

.main__list li {
    padding: 10px;
}

.main__estimation-top {
    font-size: 30px;
    color: white;
    background: #7ecc30;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__estimation-body {
    font-size: 13px;
    font-weight: bold;
}

.main__estimation-bottom {
    margin-top: -5px;
    font-size: 12px;
}

.main__next {
    font-size: 30px;
    color: #344A5F;
    position: relative;
    right: 10px;
    top: 5px;
}

.main__end {
    text-align: center;
}

.main__button {
    color: #344A5F;
    border: none;
    background-color: transparent;
    font-size: 15px;
}

.main__class {
    background: #f4f5f6;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
    width: 40%;
    padding: 20px;
}

.main__class hr {
    opacity: 0.5;
}

.main__class-title {
    color: #344A5F;
    font-size: 20px;
    text-align: center;
}

.main__class-list {
    margin-inline: 20px;
}

.main__class-list hr {
    width: 80%;
    margin-inline: auto;
}

.main__class-el:not(.main__class-hr) {
    color: #344A5F;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-block: 5px;
    margin-inline: 50px;
}

.main__class-el:nth-child(n+6) {
    display: none;
}

.main__class-el.is-visible {
    display: flex;
}

.main__class-name p {
    text-align: center;
    line-height: 37px;
    font-size: 20px;
}

.main__class-mid {
    background: #7ecc30;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
}

.main__third-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

.main__highscore {
    background: #f4f5f6;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
}

.main__highscore-title {
    color: #344A5F;
    font-size: 20px;
    text-align: center;
}

.main__middle-estimation {
    background: #f4f5f6;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
}

.main__middle-title {
    color: #344A5F;
    font-size: 20px;
    text-align: center;
}