* {
    padding: 0;
    margin: 0;
}

body {
    background: #393B45;
}

.header {
    background: #D8D9De;
    width: 75%;
    margin-inline: auto;
    margin-top: 50px;
    height: 100px;
    border-radius: 15px;
}